body{
	font-size: 24;
}
.customDiv{
	padding: 1em 25px 100px 35px;
	//border: 1px solid #000;
}

.customW{
	width: 50%;
	float: left; // raises the element and shifts it to a particular side.
	display: inline; // allow other elements to be on the same line.
}

#div3{
	float: right;
	width: 45%;
	display: inline;
}